<div class="container">
    <div class="stick">
<!--         <nav>
            <ul class="liste">
                <li routerLink="home">{{username}}</li>
                <li routerLink="home">AMIS</li>
                <li routerLink="home">PROJECTS</li>
            </ul>
        </nav> -->
        <mat-tab-group mat-align-tabs="start">
            <mat-tab class="mat-tab-label" label="abonner">
                <div class="messaging">
                    <div class="listAmi">dddfdf</div>
                    <div class="discussion">gtgtgtgtgt</div>
                </div>
                
            </mat-tab>
            <mat-tab class="mat-tab-label" label="discussion">Content 2</mat-tab>
        </mat-tab-group>
    </div>
</div>
