.container{
    width:100%;
    background-color: #4285F4;
    display:flex;
    justify-content: center;
    align-items: center;
}
.margin_container{
    width:70%;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top:1px;
}

.icons{
    display: grid;
    grid-template-columns: auto;
    justify-content: space-around;
    width: 15%;
}

.search div{
    width:345px;
    height:28px;
    border: none;
    background-color: #ffffff;
    display:flex;
}

div input{
    width:320px;
    height:28px;
    border: none;
    background-color: transparent;
    text-align: center;
}
div input:focus{
    border:0px;
}

.iconSearch{
    height:28px;
    border-left: 1px solid #0000001a;
    cursor: pointer;
}

.search ul{
    position: absolute;
    max-height: 280px;
    background-color: #ffffff;
    width: 345px;
    border: 1px solid #00000029;
    z-index: 10000;
}

.search.active ul{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

ul li{
    list-style: none;
    padding: 8px 12px;
    width: 320px;
    cursor: default;
    border-radius: 3px;
    cursor: pointer;
}

.search.active ul li{
    display: block;
}

ul li:hover{
    background: #efefef;
}

h1{
    font-family: 'Montserrat', sans-serif;
    color:#FFBD59;
    font-size:28px;
    margin: 0;
    cursor: pointer;
}

mat-icon{
    color:#ffc279;
}



 
/* Portrait tablet to landscape and desktop */
@media (min-width: 936px) and (max-width: 1200px) {
    .margin_container{
        width:90%;
    }
}
 
/* Landscape phone to portrait tablet */
@media (min-width: 767px) and (max-width: 936px) {
    .margin_container{
        width:100%;
    }
    .title{
        font-size:24px;
    }
}
 
/* Landscape phones and down */
@media (min-width: 480px) and (max-width: 767px) {
    .margin_container{
        width:100%;
    }
    .title{
        font-size:20px;
    }
    .search div{
        width:275px;
        height:28px;
    }
    div input{
        width:250px;

    }
    .search ul{
        width: 284px;
    }
    ul li{
        width: 260px;
    }
    
}

@media (max-width: 480px) {  
    .margin_container{
        width:100%;
    }
    .title{
        font-size:20px;
    }
    .search div{
        width:215px;
        height:28px;
    }
    div input{
        width:190px;
    }
    .search ul{
        width: 214px;
    }
    ul li{
        width: 290px;
    }
}

@media (max-width: 320px) {  
    .margin_container{
        width:100%;
    }
    .title{
        font-size:20px;
    }
    .search div{
        width:195px;
        height:28px;
    }
    div input{
        width:170px;
    }
    .search ul{
        width: 195px;
    }
    ul li{
        width: 169px;
    }
}

